<div class="msgBuilder">
  <dialog-box v-if="genericBuilderActive" v-on:close="close" v-on:done="done" v-on:next="next">
    <template v-slot:header>
      <h3>
        Carousel message
      </h3>
    </template>
    <template v-slot:body="genericModelMsg">
      <div class="builderBodyWrapper">
        <div class="iTitle">
          <input type="text" placeholder="Title" v-model="genericModelMsg.title">
        </div>
        <div class="iSubTitle">
          <input type="text" placeholder="Subtitle" v-model="genericModelMsg.subTitle">
        </div>
        <div class="iImage">
          <input type="text" placeholder="Image URL" v-model="genericModelMsg.image">
        </div>
        <div class="buttons">
          <div>
            Include buttons
          </div>
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <div class="done-btn" @click="done">Done</div>
    </template>
  </dialog-box>

  <dialog-box v-if="textBuilderActive" v-on:close="close"  v-on:done="done">
    <template v-slot:header>
      <h3>
        Text message
      </h3>
    </template>
    <template v-slot:footer>
      <div class="done-btn" @click="done">Done</div>
    </template>
  </dialog-box>
  
  <dialog-box v-if="buttonsBuilderActive" v-on:close="close" v-on:done="done">
    <template v-slot:header>
      <h3>
        Text & buttons message
      </h3>
    </template>
    <template v-slot:footer>
      <div class="done-btn" @click="done">Done</div>
    </template>
  </dialog-box>
  
  <div class="newMsg dropdown">
    <button class="shout-type-btn">New message +</button>
    <div class="newMsg dropdown-content">
      <a v-for="(msgType, index) in msgTypes" :key="index" @click="selectType(msgType)">{{ msgType.display }}</a>
    </div>
  </div>
  <div class="createdMsgs" v-for="msg in msgs" :key="msg.id">
    <div v-if="msg.type === text">
      
    </div>
    <div v-if="msg.type === generic">
      
    </div>
  </div>
</div>