<html>
  <head>
    <title>
      Jurko says
    </title>
    <meta name="description" content="messaging for gjh chatbot">
    <link id="favicon" rel="icon" href="https://www.gjh.sk/informacie/logo-skoly/gjhlogo.jpg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <script src="/vue.min.js"></script>
    <script src="/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div id="app">
      
    </div>
    <script src="/app.js" type="module"></script>
  </body>
</html>