<html>
  <head>
    <title>
      Jurko says
    </title>
    <meta name="description" content="messaging for gjh chatbot">
    <link id="favicon" rel="icon" href="https://www.gjh.sk/informacie/logo-skoly/gjhlogo.jpg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/editor.css">
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <script src="/vue.min.js"></script>
    <script src="/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div id="app">
      <ul class="app-wrapper">
        <li>
          <div class="create block" :class="createHover ? 'create-hover' : ''" @mouseenter="createHover = true" @mouseleave="createHover = false">
            <span class="plus" v-if="!createHover">
              +
            </span>
            <div class="create-pipeline" v-if="createHover">
              <h1>
                Create a new message pipeline
              </h1>
              <input type="text">
              <input type="text">
              <div class="create-button" @click="createPipeline()">
                
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="shout block">
            <span class="headline">
              {{ prefix }}
            </span>
            <p class="shout-desc">
              inform your userbase about something new and exciting ❤
            </p>
            <span class="text">A message, that you want to send to the world</span>
            <textarea placeholder=" Write something cool" v-model="shoutText" class="shout-msg">
            </textarea>
            <span class="text">Select a what type of announcement you want to make</span>
            <div class="dropdown">
              <button class="shout-type-btn">{{ shoutTypeVisual }}</button>
              <div class="dropdown-content">
                <a href="javascript:void(0)" @click="shoutType='general'; shoutTypeVisual='General announcement'">General announcement</a>
                <a href="javascript:void(0)" @click="shoutType='appUpdate'; shoutTypeVisual='App update'">App update</a>
              </div>
            </div>
            <div class="spacer" height="50px"></div>
            <div class="shout-btn" @click="shout()">
              Shout!
            </div>
          </div>
        </li>
        <li>
          <div class="menu block" :class="menuHover ? 'menu-hover' : ''" @mouseenter="menuHover = true" @mouseleave="menuHover = false">
            <div class="pipelines">
              <div class="pipline" v-for="(pipe, index) in pipelines">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="errorsHolder">
        <div class="errorMsg" v-for="error in errors" :key="error.id">
          <span class="cross" @click="removeError(error.id)">x</span>
          <span>{{ error.msg }}</span>
        </div>
      </div>
    </div>
    <script src="/editor.js"></script>
  </body>
</html>