* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    background-color: #BCE4FA;
}

#durko-chat {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 450px;
}
